{% extends 'base.html' %}
        {% block content %}

        <section class="py-5">
            <input type="hidden" id="is_logged_in" value="{{ user.is_authenticated }}">

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    {% if product.quantity %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src={{ product.imageUrl }} alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product title-->
                                    <h5 class="fw-bolder">{{ product.title }}</h5>
                                    <!-- Product content-->
                                    <p>{{ product.content }}</p>
                                    <!-- Product price-->
                                    <span>${{ product.price }}</span>
                                    <!-- Product actions -->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <!-- Quantity input -->
                                            <div class="input-group mb-3" style="max-width: 120px; margin: 0 auto;">
                                                <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(this)">-</button>
                                                <input type="text" class="form-control text-center" name="quantity" value="1" min="1" />
                                                <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(this)">+</button>
                                            </div>
                                            <!-- Add to cart button -->
                                            <button class="btn btn-outline-dark" data-product-id="{{ product.id }}">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endblock content %}
  